.hero {
  margin-bottom: 2rem;
  &__img {
    background: url(/assets/images/image-web-3-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 30rem;
    display: block;
    margin-bottom: 2rem;
  }
  &__heading {
    font-size: 3.5rem;
    margin: 1rem 0rem;
    color: $Very-dark-blue;
    font-weight: 800;
  }
  &__paragraph {
    line-height: 1.5;
    width: 100%;
    color: $Dark-grayish-blue;
    margin: 2rem 0;
  }
  &__btn {
    display: block;
    background-color: $Soft-red;
    padding: 1.2rem 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
    border: none;
    transition: background-color 0.3s ease-in-out;
    letter-spacing: 2px;
    &:hover {
      background-color: $Very-dark-blue;
      color: #fff;
    }
  }
}

@media (min-width: 990px) {
  .main {
    display: flex;
    gap: 2rem;
    padding-bottom: 3rem;
  }

  .hero__img {
    background: url(/assets/images/image-web-3-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 30rem;
    display: block;
    margin-bottom: 2rem;
  }
}
